* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

html,
body {
  height: 100%;
}

body {
  background-image: url("../assets/login-cadastro.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px;
}

.logo {
  font-size: 2.2rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.subtitle {
  font-size: 0.9rem;
  font-weight: 300;
  margin-top: 4px;
}

nav button {
  background: linear-gradient(
    90deg,
    rgba(10, 111, 181, 1) 0%,
    rgba(1, 46, 99, 1) 100%
  );
  border: none;
  color: white;
  padding: 10px 20px;
  margin-left: 10px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
  transition: 0.3s;
}

nav button:hover {
  background: linear-gradient(
    90deg,
    rgba(10, 111, 181, 1) 0%,
    rgba(1, 46, 99, 1) 100%
  );
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 50px;
  border-radius: 10px;
  margin: 80px auto 180px;
  max-width: 600px;
  height: fit-content;
}

main h1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.btn-principal {
  background: linear-gradient(
    90deg,
    rgba(10, 111, 181, 1) 0%,
    rgba(1, 46, 99, 1) 100%
  );
  border: none;
  color: white;
  padding: 15px 35px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 3px;
  transition: 0.3s;
  margin-top: 15px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

.btn-principal:hover {
  background: linear-gradient(
    90deg,
    rgba(10, 111, 181, 1) 0%,
    rgba(1, 46, 99, 1) 100%
  );
}

.texto-secundario {
  margin-top: 20px;
  font-size: 1rem;
}

.texto-secundario a {
  color: rgba(1, 46, 99, 1);
  text-decoration: none;
  font-weight: bold;
}

.texto-secundario a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    padding: 15px 20px;
  }
  .subtitle {
    display: none;
  }
  nav button {
    padding: 8px 15px;
    margin-left: 5px;
  }
  main {
    width: 100%;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    margin: 80px auto 180px;
  }
}
